<!DOCTYPE>
<html>
  <head>
	{% block extrahead %}
	<link href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/smartshort.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29674470-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
	{% block body %}
	{% endblock %}
  </body>
</html>
	 
