{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="header">
	<h1>Smartshort</h1>
	<p>Making short urls smart</p>
  </div>
  <hr />
  <div class="content">
	<div class="span10 offset1 explanation">
	  <p>Today, short urls are dumb :(</p>
	  <p>When you want to share content on a webpage, you create a short url. This url brings you to the current page... not the content you were originally trying to share</p>
	  <p>We found a solution. Download our chrome extension, and we will bring you to the content you were actually trying to share</p>
	</div>
	<div class="download-container">
	  <a href="{{MEDIA_URL}}versions/latest.tar.gz"><button id="download-btn" class="btn btn-large btn-primary">Download now</button></a>
	</div>
  </div>
  <p style="clear:both"></p>
  <footer>
	<p>Arash (<a href="http://twitter.com/arashdeli">@arashdeli</a>) and Rob (<a href="http://twitter.com/systemizer">@systemizer</a>)</p>
  </footer>
</div>

<!--
	<div class="row">
	  <div class="span4">
		<div class="well introbox">
		  <div class="introbox-header">
			<h2>Header</h2>
		  </div>
		  <div class="introbox-content">
			<p>This is where the content will go</p>
		  </div>
		</div>
	  </div>
	  <div class="span4">
		<div class="well introbox">
		  <div class="introbox-header">
			<h2>Header</h2>
		  </div>
		  <div class="introbox-content">
			<p>This is where the content will go</p>
		  </div>
		</div>
	  </div>
	  <div class="span4">
		<div class="well introbox">
		  <div class="introbox-header">
			<h2>Header</h2>
		  </div>
		  <div class="introbox-content">
			<p>This is where the content will go</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>

-->
</div>
{% endblock %}
