{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="header">
	<h1>Leap To It</h1>
	<p>Making short urls smart</p>
  </div>
  <hr />
	{% if is_homepage %}
  <div class="content">
	<div class="span10 offset1 explanation">
	  <p>Today, short urls are dumb :(</p>
	  <p>When you want to share content on a webpage, you create a short url. This url brings you to the current page... not the content you were originally trying to share.</p>
	  <p>We found a solution. Download our chrome extension, and we will bring you to the content you were actually trying to share in the first place.</p>
	</div>
	<div class="download-container">
	  <a target="_tab" href="https://chrome.google.com/webstore/detail/faidcaknppcifgmblnohgmhbjfolngmb?hl=en"><button id="download-btn" class="btn btn-large btn-primary">Get it now!</button></a>
	  or 
	  <a href="/how-it-works/"><button id="download-btn" class="btn btn-large btn-info">How it works</button></a>
	</div>
  </div>
  <p style="clear:both"></p>
  <div class="row">
    <div class="span6">
      <div class="well span5">
	<p><span class="note">NOTE:</span>This is only an alpha and proof of concept. It was built over 12 hours at a hackathon hosted by <a href="http://intrepid-labs.com/">Intrepid Labs</a> in Cambridge, MA.  We acknowledge that there are bugs and missing features, but we just wanted to show you what is possible. Currently Chrome is the only supported browser. We hope you enjoy!</p>
	<p>If you have any comments/feedback, please tweet at us: <a href="http://twitter.com/arashdeli">@arashdeli</a> and <a href="http://twitter.com/systemizer">@systemizer</a></p>
      </div>
    </div>
    <div class="span6">      
      <div class="social-media well span5 row">
	<h3 class="span3">Don't forget to share this with your friends</h3>
	<ul class="span1">
	  <li>
	    <a href="https://twitter.com/share" class="twitter-share-button" data-via="systemizer">Tweet</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	  </li>
	  <li>
	    <a name="fb_share"></a> 
	    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
	    </script>
	  </li>
	</ul>
      </div>
    </div>
  </div>
  {% else %}
  <div class="content">
	<div class="span10 offset1 explanation">
	  <p>Your friend shared a url using LeapTo.It. Our extension will take you directly to content that your friend is trying to share</p>
	  <div class="download-container">
		<a target="_tab" href="https://chrome.google.com/webstore/detail/faidcaknppcifgmblnohgmhbjfolngmb?hl=en"><button id="download-btn" class="btn btn-large btn-success">Use the extension</button></a>
		or 
		<a href='{{url.url}}'><button id="download-btn" class="btn btn-large btn-primary">Continue to the link</button></a>
	  </div>
	  <hr />
	  <p>Curious?
		<a href="/how-it-works/">See how LeapTo.It  works</a>
	  </p>
	</div>
  </div>
  {% endif %}
  <p style="clear:both"></p>  
  <footer>
	<p>Arash (<a href="http://twitter.com/arashdeli">@arashdeli</a>) and Rob (<a href="http://twitter.com/systemizer">@systemizer</a>)</p>
  </footer>
</div>
{% endblock %}
